html {
    height: 100%;
}

#main {
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    min-height: 100%;
}

#backoverlay {
    height: 100vh;
}

#intro {
    margin-left: 30px;
    margin-right: 30px;
}

#coffee {
    flex-grow: 5;
    text-align: right;
}

#searchbar {
    flex-grow: 5;
    margin: 15px 30px 15px 30px;
}

.imgcontainer {
    flex-grow: 20;
    text-align: center;
}

.coronaimg {
    width: 40%;
    height: 40%;
}

@media only screen and (min-width: 700px) {
    .coronaimg {
        width: 25%;
        height: 25%;
    }
}

@media only screen and (min-width: 1024px) {
    .coronaimg {
        width: 20%;
        height: 20%;
    }
}

@media only screen and (min-width: 1248px) {
    .coronaimg {
        width: 16%;
        height: 16%;
    }
}

/* Portrait Tablets */
@media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 2) {
    .coronaimg {
        width: 40%;
        height: 40%;
    }
}

/* Landscape Tablets */
@media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1366px)
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 2) {
    .coronaimg {
        width: 25%;
        height: 25%;
    }
}


